section#contact-info p {
font size: .8em;
}

.job {
    background-color: #e9e5dc ;
    border-radius:25px;
    padding-right:25px ;
    padding-bottom: 5px;
    padding-left: 25px;
    margin: 35px;
}

.achievements {
    font-size: .8em;
}


